In [1]:
import pandas as pd
import os

In [2]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Sixes Innings\Most Sixes Innings - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Runs,BF,SR,4s,6s,Against,Venue,Match Date,Year
0,1,Brendon McCullum,158,73,216.43,10,13,RCB,M. Chinnaswamy Stadium,18 April 2008,2008
1,2,Sanath Jayasuriya,114,48,237.50,9,11,CSK,Wankhede Stadium,14 May 2008,2008
2,3,Adam Gilchrist,109,47,231.91,9,10,MI,DY Patil Stadium,27 April 2008,2008
3,4,Michael Hussey,116,54,214.81,8,9,PBKS,IS Bindra Stadium,19 April 2008,2008
4,5,Andrew Symonds,117,53,220.75,11,7,RR,Rajiv Gandhi Intl. Cricket Stadium,24 April 2008,2008

In [3]:
# Convert 'Year' column to int
merged_df['Year'] = merged_df['Year'].astype(int)

# Convert 'Match Date' column to datetime
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [4]:
merged_df.isnull().sum()

POS           0
Player        0
Runs          0
BF            0
SR            0
4s            0
6s            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [5]:
merged_df.duplicated().sum()

np.int64(0)

In [6]:
merged_df.to_csv('merged_most_sixes.csv', index=False)