In [11]:
import pandas as pd
import os

In [12]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Runs\Most Runs - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s,Year
0,1,Shaun Marsh,11,11,2,616,115,68.44,441,139.68,1,5,59,26,2008
1,2,Gautam Gambhir,14,14,1,534,86,41.07,379,140.89,0,5,68,8,2008
2,3,Sanath Jayasuriya,14,14,2,518,114*,43.16,309,167.63,1,2,58,31,2008
3,4,Shane Watson,15,15,5,472,76*,47.2,311,151.76,0,4,47,19,2008
4,5,Graeme Smith,11,11,2,441,91,49.0,362,121.82,0,3,54,8,2008

In [13]:
merged_df.isnull().sum()

POS       0
Player    0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
Year      0
dtype: int64

In [14]:
merged_df.duplicated().sum()

np.int64(0)

In [15]:
merged_df.to_csv('merged_most_runs.csv', index=False)