In [24]:
import pandas as pd
import os

In [25]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Best Bowling Economy Innings\Best Bowling Economy Innings - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)
merged_df = pd.concat(all_dfs, ignore_index=True)

merged_df.head()

,POS,Player,Ov,Runs,Wkts,Dots,Econ,SR,Against,Venue,Match Date,Year
0,1,Mohammad Hafeez,4.0,8,1,14,2.00,24.0,DEC,Eden Gardens,20 April 2008,2008
1,2,Ishant Sharma,4.0,9,2,14,2.25,12.0,RCB,M. Chinnaswamy Stadium,18 April 2008,2008
2,3,Brett Lee,4.0,9,1,17,2.25,24.0,MI,IS Bindra Stadium,25 April 2008,2008
3,4,Shaun Pollock,4.0,9,1,17,2.25,24.0,CSK,Wankhede Stadium,14 May 2008,2008
4,5,Dominic Thornely,3.0,7,2,12,2.33,9.0,KKR,Wankhede Stadium,16 May 2008,2008

In [26]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         2624 non-null   int64
 1   Player      2624 non-null   object
 2   Ov          2624 non-null   float64
 3   Runs        2624 non-null   int64
 4   Wkts        2624 non-null   int64
 5   Dots        2624 non-null   int64
 6   Econ        2624 non-null   float64
 7   SR          2624 non-null   float64
 8   Against     2624 non-null   object
 9   Venue       2624 non-null   object
 10  Match Date  2624 non-null   object
 11  Year        2624 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 246.1+ KB

In [27]:
merged_df['Ov'] = merged_df['Ov'].astype(int)

merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [28]:
merged_df.isnull().sum()

POS           0
Player        0
Ov            0
Runs          0
Wkts          0
Dots          0
Econ          0
SR            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [29]:
merged_df.duplicated().sum()

np.int64(0)

In [30]:
merged_df.to_csv('merged_best_bowling_economy.csv', index=False)