In [18]:
import pandas as pd
import os

In [19]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Fastest Fifties\Fastest Fifties - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)



merged_df.head()

,POS,Player,Runs,BF,4s,6s,Against,Venue,Match Date,Year,SR
0,1,Yusuf Pathan,61,21,4,6,DEC,Rajiv Gandhi Intl. Cricket Stadium,24 April 2008,2008,NaN
1,2,Kumar Sangakkara,94,23,13,1,MI,IS Bindra Stadium,25 April 2008,2008,NaN
2,3,Virender Sehwag,51,23,2,5,PBKS,Arun Jaitley Stadium,17 May 2008,2008,NaN
3,4,Kumar Sangakkara,50,23,7,2,DEC,IS Bindra Stadium,23 May 2008,2008,NaN
4,5,Virender Sehwag,71,24,7,4,CSK,Chidambaram,02 May 2008,2008,NaN

In [20]:

if 'SR' in merged_df.columns:
    merged_df = merged_df.drop(columns=['SR'])

In [21]:
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         118 non-null    int64
 1   Player      118 non-null    object
 2   Runs        118 non-null    int64
 3   BF          118 non-null    int64
 4   SR          118 non-null    float64
 5   4s          118 non-null    int64
 6   6s          118 non-null    int64
 7   Against     118 non-null    object
 8   Venue       118 non-null    object
 9   Match Date  118 non-null    object
 10  Year        118 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 10.3+ KB

In [23]:
merged_df.isnull().sum()

POS           0
Player        0
Runs          0
BF            0
4s            0
6s            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [24]:
merged_df.duplicated().sum()

np.int64(0)

In [25]:
merged_df.to_csv('merged_Fastest_Fifties.csv', index=False)