In [7]:
import pandas as pd
import os

In [8]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Runs Conceded Innings\Most Runs Conceded Innings - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Ov,Runs,Wkts,SR,Against,Venue,Match Date,Year
0,1,RP Singh,4.0,59,1,24.0,KKR,Rajiv Gandhi Intl. Cricket Stadium,11 May 2008,2008
1,2,Palani Amarnath,4.0,57,1,24.0,MI,Chidambaram,23 April 2008,2008
2,3,Vikram Singh,4.0,56,0,0.0,MI,Wankhede Stadium,21 May 2008,2008
3,4,Munaf Patel,4.0,55,0,0.0,DEC,Rajiv Gandhi Intl. Cricket Stadium,24 April 2008,2008
4,5,Munaf Patel,4.0,55,1,24.0,CSK,Chidambaram,24 May 2008,2008

In [9]:
# Convert 'Year' column to int
merged_df['Year'] = merged_df['Year'].astype(int)

# Convert 'Match Date' column to datetime
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [10]:
merged_df.isnull().sum()

POS           0
Player        0
Ov            0
Runs          0
Wkts          0
SR            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [11]:
merged_df.duplicated().sum()

np.int64(0)

In [12]:
merged_df.to_csv('merged_most_runs_conceded.csv', index=False)