In [7]:
import pandas as pd
import os

In [8]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Fours Innings\Most Fours Innings - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Runs,BF,SR,4s,6s,Against,Venue,Match Date,Year
0,1,Kumar Sangakkara,94,56,167.85,13,1,MI,IS Bindra Stadium,25 April 2008,2008
1,2,Matthew Hayden,81,46,176.08,12,2,MI,Chidambaram,23 April 2008,2008
2,3,Sachin Tendulkar,65,46,141.30,12,0,PBKS,Wankhede Stadium,21 May 2008,2008
3,4,Andrew Symonds,117,53,220.75,11,7,RR,Rajiv Gandhi Intl. Cricket Stadium,24 April 2008,2008
4,5,Shaun Marsh,115,69,166.66,11,7,RR,IS Bindra Stadium,28 May 2008,2008

In [9]:
# Step 1: Convert the 'Match Date' column to datetime format
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [10]:
merged_df.isnull().sum()

POS           0
Player        0
Runs          0
BF            0
SR            0
4s            0
6s            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [11]:
merged_df.duplicated().sum()

np.int64(0)

In [12]:
merged_df.to_csv('merged_most_fours.csv', index=False)