In [38]:
import pandas as pd
import os

In [39]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Fastest Centuries\Fastest Centuries - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)

merged_df.head()

,POS,Player,Runs,BF,4s,6s,Against,Venue,Match Date,Year,SR
0,1,Adam Gilchrist,109,42,9,10,MI,DY Patil Stadium,27 April 2008,2008,NaN
1,2,Sanath Jayasuriya,114,45,9,11,CSK,Wankhede Stadium,14 May 2008,2008,NaN
2,3,Andrew Symonds,117,47,11,7,RR,Rajiv Gandhi Intl. Cricket Stadium,24 April 2008,2008,NaN
3,4,Michael Hussey,116,50,8,9,PBKS,IS Bindra Stadium,19 April 2008,2008,NaN
4,5,Brendon McCullum,158,53,10,13,RCB,M. Chinnaswamy Stadium,18 April 2008,2008,NaN

In [40]:
if 'SR' in merged_df.columns:
    merged_df = merged_df.drop(columns=['SR'])

In [41]:
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'], dayfirst=True, errors='coerce')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   POS         8 non-null      int64
 1   Player      8 non-null      object
 2   Runs        8 non-null      int64
 3   BF          8 non-null      int64
 4   SR          8 non-null      float64
 5   4s          8 non-null      int64
 6   6s          8 non-null      int64
 7   Against     8 non-null      object
 8   Venue       8 non-null      object
 9   Match Date  8 non-null      object
 10  Year        8 non-null      object
dtypes: float64(1), int64(5), object(5)
memory usage: 832.0+ bytes

In [43]:
merged_df.isnull().sum()

POS           0
Player        0
Runs          0
BF            0
4s            0
6s            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [44]:
merged_df.duplicated().sum()

np.int64(0)

In [45]:
merged_df.to_csv('merged_Fastest_Centuries.csv', index=False)