In [1]:
import pandas as pd
import os

In [2]:
years = range(2008, 2022)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Runs Over\Most Runs Over - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Runs,BF,SR,4s,6s,Against,Venue,Match Date,Year
0,1,Virender Sehwag,30,6,500.00,3,3,DEC,Rajiv Gandhi Intl. Cricket Stadium,22 April 2008,2008
1,2,Sanath Jayasuriya,26,5,520.00,2,3,CSK,Wankhede Stadium,14 May 2008,2008
2,3,MF Maharoof,26,5,520.00,0,4,RR,Sawai Mansingh Stadium,11 May 2008,2008
3,4,Rohit Sharma,26,6,433.33,3,2,DC,Rajiv Gandhi Intl. Cricket Stadium,22 April 2008,2008
4,5,Shane Watson,26,6,433.33,5,1,RCB,M. Chinnaswamy Stadium,26 April 2008,2008

In [3]:
# Convert 'Year' column to int
merged_df['Year'] = merged_df['Year'].astype(int)

# Convert 'Match Date' column to datetime
merged_df['Match Date'] = pd.to_datetime(merged_df['Match Date'])

In [4]:
merged_df.isnull().sum()

POS           0
Player        0
Runs          0
BF            0
SR            0
4s            0
6s            0
Against       0
Venue         0
Match Date    0
Year          0
dtype: int64

In [5]:
merged_df.duplicated().sum()

np.int64(0)

In [6]:
merged_df.to_csv('merged_most_runs_over.csv', index=False)