In [4]:
import pandas as pd
import os

In [5]:
years = range(2008, 2023)
files = [fr"C:\Users\Mohak kansal\Documents\Coding\Projects\IPL Auction Analytics & Team Performance Prediction Dashboard\Data Collection and Cleaning\Used Datasets\8) IPL - Player Performance Dataset\Most Wickets\Most Wickets - {year}.csv" for year in years]

all_dfs = []

for file in files:
    df = pd.read_csv(file)

    year = file.split(' - ')[-1].split('.')[0]
        
    df['Year'] = year

    all_dfs.append(df)

merged_df = pd.concat(all_dfs, ignore_index=True)


merged_df.head()

,POS,Player,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w,Year
0,1,Sohail Tanvir,11,11,41.1,266,22,6/14,12.09,6.46,11.22,1,1,2008
1,2,Shane Warne,15,15,52.0,404,19,3/19,21.26,7.76,16.42,0,0,2008
2,3,Shanthakumaran Sreesanth,15,15,51.1,442,19,3/29,23.26,8.63,16.15,0,0,2008
3,4,Shane Watson,15,15,54.1,383,17,3/10,22.52,7.07,19.11,0,0,2008
4,5,Manpreet Gony,16,16,60.0,443,17,3/34,26.05,7.38,21.17,0,0,2008

In [6]:
# Convert 'Year' column to int
merged_df['Year'] = merged_df['Year'].astype(int)

In [7]:
merged_df.isnull().sum()

POS       0
Player    0
Mat       0
Inns      0
Ov        0
Runs      0
Wkts      0
BBI       0
Avg       0
Econ      0
SR        0
4w        0
5w        0
Year      0
dtype: int64

In [8]:
merged_df.duplicated().sum()

np.int64(0)

In [9]:
merged_df.to_csv('merged_most_wickets.csv', index=False)